{{ partial "header.html" . }}

	<h1>{{ .Title }}</h1>
		
	{{ .Content }}

	<!-- Loop over sections/pages and list them  -->
	{{ if .Page.Sections }}
		{{ range .Page.Sections.ByWeight }}
			{{ template "children" . }}	
		{{ end }}
	{{ else }}
		{{ template "children" . }}
	{{ end }}


	{{ define "children" }}
		<h3>{{ .Title }}</h3>

		{{ if .Pages }} 
		<ul>
		{{ range .Pages.ByWeight }}
			<li><a href="{{ .URL }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
		{{ end }}
	{{ end }}

	<br/>

	{{ partial "article/tags.html" . }}

	{{ partial "article/contribute.html" . }}



	<!-- {{if not .Content }}
		{{ $paginator := .Paginator }}

		<div class="extra-pagination inner">
		{{ partial "pagination.html" $paginator }}
		</div>

		{{ range $index, $page := $paginator.Pages }}
		{{ .Render "li" }}
		{{ end }}

		<div style="margin-bottom:2rem"></div>

		{{ partial "pagination.html" $paginator }}
	{{end}} -->

{{ partial "footer.html" . }}
