{{ partial "header.html" . }}

	<h1>{{ .Title }}</h1>
		
	{{ .Content }}

	<!-- Loop over sections/pages and list them  -->

    {{ if .Page.Sections }}
        {{ range .Page.Sections.ByWeight }}
        {{ template "children" dict "depth" 0 "Page" . }}
        {{ end }}
    {{ end }}
    
    {{ if .Page.Pages }}
        <h4>Pages:</h4>
        <ul class="compact">
        {{ range .Page.Pages.ByWeight }}
        <li>{{ template "children" dict "depth" 0 "Page" . }}</li>
        {{ end }}
        </ul>
    {{ end }}


	{{ define "children" }}
		
		{{ $depth := (add .depth 1) }}
		{{ $pages := (union .Page.Pages .Page.Sections) }}

		{{ if and $pages (eq $depth 1) }}
			<h3>{{ .Page.Title }}</h3>
		
		{{ else }}
			<a href="{{ .Page.URL }}">{{ .Page.Title }}</a><br/>
		{{ end }}

		{{ if $pages }}
			<ul class="compact">
			{{ range $pages.ByWeight }}
				<li>
					{{ template "children" dict "depth" $depth "Page" . }}	
				</li>
			{{ end }}
			</ul>
		{{ end }}

	{{ end }}


	<br/>

	

	{{ partial "article/contribute.html" . }}

	{{ partial "article/tags.html" . }}

	<!-- {{if not .Content }}
		{{ $paginator := .Paginator }}

		<div class="extra-pagination inner">
		{{ partial "pagination.html" $paginator }}
		</div>

		{{ range $index, $page := $paginator.Pages }}
		{{ .Render "li" }}
		{{ end }}

		<div style="margin-bottom:2rem"></div>

		{{ partial "pagination.html" $paginator }}
	{{end}} -->

{{ partial "footer.html" . }}
