<header id="menu">
  <a id="site-title" href="{{ .Site.BaseURL }}">
    <img class="logo" src="{{ .Site.Params.Logo }}">
    <div class="title">
      {{ .Site.Title }}<br/>
      <small>{{ .Site.Params.version }}</small>
    </div>
  </a>

  {{ with .Site.Menus.links }}
  <nav class="navbar pull-right">
    {{- range sort . "Weight"}}
    <a class="nav-item {{ if eq .Identifier "primary" }}nav-item-primary{{ end }}" href="{{.URL}}">
      {{ safeHTML .Name }}
    </a>
    {{- end}}
  </nav>
  {{ end }}

</header>