<section id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{- $currentNode := . }}
{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}

<header id="header-wrapper">
  {{- if not .Site.Params.noSearch}}
      {{- partial "search.html" . }}
  {{- end}}
</header>

<nav id="sidebar-inner-wrap">
  <div id="sidebar-inner" class="highlightable">
  
    <ul class="topics">
        {{- if not .Site.Params.noHomeIcon}}
            <li data-nav-id="{{"/" | relURL}}" class="dd-item" style="margin-bottom: 1rem;">
            <a href="{{"/" | relURL}}"><i class="fa fa-fw fa-home"></i> <small>Documentation Home</small></a>
            </li>
        {{- end}}

        {{- if eq .Site.Params.ordersectionsby "title"}}
          {{- range .Site.Home.Sections.ByTitle}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{- end}}
        {{- else}}
          {{- range .Site.Home.Sections.ByWeight}}
          {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{- end}}
        {{- end}}
      </ul>

      {{- with .Site.Menus.shortcuts}}
      <ul id="shortcuts" class="topics">
        <li>
            {{- partial "mailing-list.html" . }}
        </li>

          {{- range sort . "Weight"}}
              <li class="" role="">
                  {{- .Pre -}}
                  <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                  {{- .Post -}}
              </li>
          {{- end}}
      
        {{- if $.Site.Params.showVisitedLinks}}
            <a class="" href="#" data-clear-history-toggle=""><i class="fa fa-history"></i> {{T "Clear-History"}}</a>
        {{- end}}
      </ul>
      {{- end}}

    

    <footer id="sidebar-footer">
        {{- partial "sidebar-footer.html" . }}
    </footer>

    </div>
  </nav>

</section>

<!-- templates -->
{{- define "section-tree-nav" }}
{{- $showvisitedlinks := .showvisitedlinks }}
{{- $currentNode := .currentnode }}
 {{- with .sect}}
  {{- if .IsSection}}
    {{- safeHTML .Params.head}}
    <li data-nav-id="{{.URL}}" class="dd-item
        {{- if .IsAncestor $currentNode}} parent{{end}}
        {{- if eq . $currentNode.Parent }} active-parent{{end}}
        {{- if eq .UniqueID $currentNode.UniqueID}} active{{end}}
        {{- if .Params.alwaysopen}} parent{{end -}}
        ">
      <a {{- if not (or (eq .Parent .Site.Home) (.Content) ) }}
          class="category-toggle" href="#"
         {{else}} href="{{ .RelPermalink}}"{{end}} 
        >
        <span class="">{{safeHTML .Params.Pre}}{{ .Params.short |default .Title}}{{safeHTML .Params.Post}}</span>

        {{- if $showvisitedlinks}}<i class="fa fa-check read-icon"></i>{{end}}

        {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
        {{- if ne $numberOfPages 0 }}
          {{- if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
            <i class="fa fa-angle-down fa-lg category-icon"></i>
          {{- else -}}
            <i class="fa fa-angle-right fa-lg category-icon"></i>
          {{- end}}
        {{- end}}
      </a>
      {{- if ne $numberOfPages 0 }}
        <ul>
          {{- .Scratch.Set "pages" .Pages }}
          {{- if .Sections}}
          {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{- end}}
          {{- $pages := (.Scratch.Get "pages") }}

        {{- if eq .Site.Params.ordersectionsby "title"}}
          {{- range $pages.ByLinkTitle }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        {{- else}}
          {{- range $pages.ByWeight }}
            {{- if and .Params.hidden (not $.showhidden) }}
            {{- else}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{- end}}
          {{- end}}
        {{- end}}
        </ul>
      {{- end}}
    </li>
  {{- else}}
    {{- if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" class="dd-item
     {{- if eq .UniqueID $currentNode.UniqueID}} active{{end -}}
      ">
        <a href="{{ .RelPermalink}}">
          <span>{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</span>
          {{- if $showvisitedlinks}}<i class="fa fa-check read-icon"></i>{{end}}
        </a>
    </li>
     {{- end}}
  {{- end}}
 {{- end}}
{{- end}}
