// main: theme.scss

// #6D5496 from gibbonedu.org

$primary_color:  #794d95;

$gradient_1: #b171ac; //c07bb2
$gradient_2: #c07bb2; // #a268a6; 
$gradient_3: #a268a6;
$gradient_4: #70478B;

// $gradient_1: #d286ba; 
// $gradient_2: #b171ac; 
// $gradient_3: #794d95;

// $gradient_1: #a66aa7; 
// $gradient_2: #965fa1; 
// $gradient_3: #794d95; // #835499;

// == Side ==
// $side_back_color: $primary_gradient_1;
// $side_text_color: #ffffff;
$side_back_color: #ffffff;
$side_text_color: #323232;

// == Menu ==
$menu_text_color: #ffffff;

// == Main ==
$main_back_color: #ffffff;
$main_text_color: #323232;

// == Links ==
$main_link_color: #06b3e2; //00bdf3
$main_link_hover_color: #0082a7;

$secondary_link_color: #6D5496;
$secondary_link_hover_color: #8A73AF;

// == Code ==
$main_code_inline_back_color: #f7f7f7;
$main_code_inline_text_color: #387894;

$main_code_block_back_color: #f7f7f7;
