// main: theme.scss

#sidebar-toggle-span {
    display: none;
}

#sidebar-toggle-span {
    border-right: thin solid #DAD8D8 !important;
    padding-right: 0.5rem !important;
    margin-right: 1rem !important;
}

// responsive

.navbar {
	list-style-type: none;
	padding-right: 1rem;

	.nav-item {
		display: none;
		padding: 0 0.8rem;
	}

	@include respond(25em) {
		.nav-item-primary {
			display: inline-block;
		}
	}

	@include respond(60em) {
		.nav-item {
			display: inline-block;
		}
	}
}

#sidebar-inner-wrap {
	overflow: hidden;
	border-right: 1px solid #e6e6e6;
	height: 100%;
}

#sidebar-inner {
	background: $side_back_color;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-right: -15px; // Adjusted by JS too
}

#sidebar {
	
	//@include gradient-wide($primary_gradient_0, $primary_gradient_1, $primary_gradient_2);

	position: fixed;

    top: $menu-height;
    width: 300px;
    bottom: 0;
    left: 0;
    font-size: 90%;
    line-height: 27px;
	-webkit-font-smoothing: antialiased;
	

	a {
	    color: $side_link_color;
	    @include transition(color $time_short_fade ease);
	}

	a:hover {
	    color: $side_link_hover_color;
	    @include transition(color $time_short_fade ease);
	}

	a.subtitle {
	    color: rgba(204, 204, 204, 0.6);
	}

	hr {
		border-bottom: 1px solid #d7d7d7;
		margin: 1rem 0;
	}

	a.padding {
	    padding: 0 1rem;
	}

	h5 {
	    margin: 2rem 0 0;
	    position: relative;
	    line-height: 2;
	}

	h5 a {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 1rem;
	    padding-right: 1rem;
	}

	h5 i {
	    color: rgba(204, 204, 204, 0.6);
	    position: absolute;
	    right: 0.6rem;
	    top: 0.7rem;
	    font-size: 80%;
	}

	.dd-item .dd-item {
		border-left: 3px solid transparent;
	}

	.dd-item .dd-item.active {
		border-left: 3px solid $side_focus_border_color;
	}

	.dd-item.active-parent > ul > .dd-item:not(.active) {
		border-left: 3px solid #E7E7E7;
	}

	h5.parent a {
	    background: #201b24;
	    color: #d9d9d9 !important;
	}

	h5.active a {
	    background: #fff;
	    color: #777 !important;
	}

	h5.active i {
	    color: #777 !important;
	}

	h5 + ul.topics {
	    display: none;
	    margin-top: 0;
	}

	h5.parent + ul.topics, h5.active + ul.topics {
	    display: block;
	}

	ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;

		&.searched a {
		    color: #999999;
		}

		&.searched .search-match a {
		    color: #e6e6e6;
		}

		&.searched .search-match a:hover {
		    color: $side_text_color;
		}


		&.topics {
		    margin: 0 1rem;
		}

		&.topics.searched ul {
		    display: block;
		}

		&.topics ul {
		    display: none;
		    padding-bottom: 1rem;
		}

		&.topics ul ul {
		    padding-bottom: 0;
		}

		&.topics li.parent > ul, li.active > ul {
		    display: block;
		}

		&.topics > li > a b {
		    opacity: 0.5;
		    font-weight: normal;
		}

		.category-toggle:hover + .fa-angle-right,
		.category-toggle:hover + .fa-angle-down,
		.category-toggle.fa-angle-right:hover,
		.category-toggle.fa-angle-down:hover {
			color: $main_link_hover_color;
			cursor: pointer;
		}

		li .category-icon {
		    color: $side_link_extra_color;
		}

		li.active > a > .category-icon {
			color: $side_active_text_color;
		}

		&.topics > li.parent a, &.topics > li.active a {
		    color: $side_focus_text_color;
		    @include transition(color $time_short_fade ease);
		}

		&.topics > li.parent a:hover, &.topics > li.active a:hover {
		    color: $side_focus_text_hover_color;
		    @include transition(color $time_short_fade ease);
		}

		&.topics {
			margin-left: 0rem;
		}
		
		&.topics > li.parent, &.topics > li.active {

		    background: $side_focus_back_color;
		    margin-right: -1rem;
		    padding-right: 1rem;
		}

		.active > a {
		    background: $side_active_back_color;
		    color: $side_active_text_color !important;
		    margin-right: -1rem;
			padding-right: 1rem;
			
			margin-left: -1rem;
			padding-left: 1rem;
		}

		li {
			padding-left: 1rem;
		}

		li.active > a:hover {
		    color: $side_active_text_hover_color !important;
		    @include transition(color $time_short_fade ease);
		}

		li {
			position: relative;
		}

		li.visited + span {
		    margin-right: 16px;
		}

		li a {
		    display: block;
		    padding: 2px 0;
		}

		li a span {
			display: block;
			width: 100%;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}

		li > a {
		    // padding: 2px 0;
		    position: relative;
		}

		// li > a {
		//     padding-left: 1rem;
		//     text-indent: 0.2rem;
		// }

		li .read-icon {
		    display: none;
			font-size: xx-small;
			margin-left: 5px;
			color: #68AD48;
		}
		
		li.visited > a .read-icon {
		    display: inline-block;
		}

		li .category-icon {
		    display: block;
		    float: right;
		    position: absolute;
		    right: 0px;
		    margin: 0px !important;
		    padding-left: 20px !important;
		    top: 9px;
		}

		li.active > a .category-icon {
		    right: 15px;
		}

		
	}

	// &.showVisitedLinks ul li a span {
	//     width: calc(100% - 8px);
	// }

	#shortcuts h3,
	#shortcuts h4,
	#shortcuts h5 {
	    font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
	    color: $side_text_color;
	}

}
